body{
		box-sizing: border-box;
		background-color: #F2F3F4;
		font-family: Arial, sans-serif;
		margin-left: 100px;
		margin-right: 100px;
	}

h1{
		color:#33ACFF;
		box-sizing: border-box;
		margin-top: 50px;
		text-align: center;
}
.greeting{
	color:  black;
	box-sizing: border-box;
	margin-top: 20px;
	text-align: center;
	}

.card {display:inline-block;
	}

.name{
	color:  #33ACFF;
	box-sizing: border-box;
	margin-top: 20px;
	text-align: center;
}

.about{
	color:  black;
	font-size: 16pt;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}	

.receipt{
	color:  black;
	box-sizing: border-box;
	margin-top: 20px;
	text-align: left;
}

.list{
	width: 100%;
	align: left;
}

.preparation{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.return-homepage{
	text-align: center;
}
.photo{
	width: 100%;
	object-position: right;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
}

h5{
	text-align: center;
	color: #33ACFF;
	margin-top: 20px;
	margin-bottom: 10px;

}
button, input[type="submit"] {
    background-color: #007bff ;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
.subscript{
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 80px;
	object-position: right;
}
p#feedback1
{
	text-align:  center;
	font-size: 24pt;
    color: #007bff;
}

footer{
	margin-top: 20px;
	text-align: right;
}

